<!--big-card.component-->
<div class="card">
    <div class="card__img">
        <img src="../../../assets/images/barba.jpg" alt="">
    </div>
    <div class="card__content">
        <h2 class="card__title">Degrade na barba</h2>
        

        <p class="card__description">O corte de cabelo degradê e a barba degradê criam um visual moderno e
            sofisticado que é ao mesmo tempo elegante e masculino. Este estilo requer manutenção regular para manter as
            linhas limpas e a transição suave, mas o esforço vale a pena para o impacto visual que ele proporciona.</p>
    </div>
</div>